body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.app-container{
  min-height: 100vh;
  background: linear-gradient(135deg, #60a5fa 0%, #863bf6 100%);
  padding: 32px;
}
.content-wrapper{
  min-width: 768px;
  margin: 0 auto;
  /* background: #fff; */
}
header{
  text-align: center;
  margin-bottom: 32px;
}
header h1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 2.2em;
  font-weight: bold;
  color:#fff;
  margin-bottom: 8px;
}
header p{
  color: #dbeafe;
  font-size: 1.2em;
}
.busca-box{
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px #00000086;
  padding: 24px;
  margin-bottom: 24px;
}
.busca-container{
  display: flex;
  gap: 8px;
}
.busca-container input{
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.busca-container input:focus{
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px #3b83f65f;
}
.busca-container button{
  padding: 12px 24px;
  background: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}
.busca-container button:hover{
  background: #2563eb;
}

.busca-container button:disabled{
  cursor: not-allowed;
  background: #9ca3af;
}
.error-menssage{
  margin-top: 16px;
  padding: 12px;
  background: #fee2e2;
  border: 1px solid #fca5a5;
  border-radius: 8px;
  color: #b91c1c;
}
#card-resultado{
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px #0000009d;
  padding: 32px;
}
#cidade-info{
  text-align: center;
  margin-bottom: 24px;
}
#cidade-nome{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.5em;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 8px;
}
#cidade-desc{
  color: #4b5563;
  text-transform: capitalize;
  font-size: 1.2em;
}
#temperatura-box{
  text-align: center;
  margin-bottom: 32px;
}
#temperatura-valor{
  font-size: 3.7em;
  font-weight: bold;
  color: #2563eb;
  margin-bottom: 8px;
}
#sensacao{
  color: #4b5563;
}
.detalhes-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
}
.detalhes-item{
  background: #eceff0;
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}
.detalhes-item h2{
  font-size: 0.9em;
  color: #444;
  margin-bottom: 4px;
}
.detalhes-item h3{
  color: #222;
}

/* RESPONSIVO */
@media (max-width: 768px){
  .content-wrapper{
    min-width: 100%;
  }
  .busca-container input{
    width: 80%;
  }
  .detalhes-box{
    grid-template-columns: 1fr;
  }
  #temperatura-valor{
    font-size: 3em;
  }
  header h1{
    font-size: 1.8em;
  }
}